body{
  background-color:#2B2B2B;
}

#cupon{
	background-color:#0c5192;
	padding-bottom:20px;
}

#cupon h2, label{
	color:white;
}

.form-control input{
	background-color:white;
}

#cuerpo{
  background-color:white;
  padding:0px;
  margin:0px;
  padding-bottom:20px;
}

.container-fluid{
  padding:0px;
  margin:0px;
}

.row{
	padding-right:0px;
	margin-right:0px;
}

.navbar-nav li a {/*Para cambiar el tamaño de la navbar*/
 line-height: 30px;
}

.imgfor{
    margin-top:30px;
    margin-bottom:20px;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

textarea { 
    resize: vertical; 
}

.navbar-default {
  background-color: #045fb4;
  border-color: #045fb4;
  border-radius:0px;
  margin:0px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0c5192;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0c5192;
}
.navbar-default .navbar-toggle {
  border-color: #0c5192;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0c5192;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0c5192;
  }
}

.glyphicon{
  margin-right:10px;
}

textarea { 
    resize: vertical; 
}

.logotipo{
	margin:0px;
	height:55px;
}

li:hover{
  background-color:#0c5192;
}

.titulo{
  margin-left:20px;
  margin-top:0px;
}